@tailwind base;
@tailwind components;
@tailwind utilities;
@import screens;


@layer base{

    #root{
        overflow: hidden;
    }
    
    @media (max-width:324px){
        html{
            font-size: 10px;
        }
    }

    @media (max-width:414px){
        html{
            font-size: 13px;
        }
    }
    .relative.lg\:w-60.sm\:w-full.flex.items-center.bg-white.bg-opacity-20.py-1.px-3.rounded-lg{
    
    background-color: darkblue;
    
    }

    .w-full.bg-white.rounded-xl.overflow-hdden.shadow-md.p-4.mt-\[360px\].mx-\[2rem\].\[72rem\].z-\[1000\].shadow-lg{

        box-shadow:-1px 16px 22px 3px rgba(0,0,0,0.43);
        -webkit-box-shadow: -1px 16px 22px 3px rgba(0,0,0,0.43);
        -moz-box-shadow: -1px 16px 22px 3px rgba(0,0,0,0.43);
        }
        
        
        
        
        
        @media (max-width: 530px) {
        
            .card-container.flex.justify-around.md\:pl-48.relative.shadow-lg.bg-green-500{
            background-color:red;
            margin-top: -3px;
            
            
        }
        
        
        }
        
        
        
        
        @media (max-width: 454px) {
        
        .card-container.flex.justify-around.md\:pl-48.relative.shadow-lg.bg-green-500{
        background-color:red;
        margin-top: -38px;
        
        
        }
        
        
        }
        
        
        @media (max-width: 375px) {
        
        .card-container.flex.justify-around.md\:pl-48.relative.shadow-lg.bg-green-500{
        background-color:red;
        margin-top: -5px;
        
        
        }
        
        
        }
        
        
        @media (max-width:500px) {
            .card-container.flex.justify-around.md\:pl-48.relative.shadow-lg{
            margin-top:80px;
            }
        }
        
        @media (max-width: 767px) {
            .post-card{
            margin-top:19rem;
            }
        }
        @media (max-width: 409px) {
        .inner-post-card{
            width: 26rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem
            }
        
        
        }
        
        
        
            @media (max-width: 353px) {
                .inner-post-card{
                    width: 26rem;
                    /* background: red; */
                    margin-left: 2px;
                    margin-right: 1px;
                    }
                
                
                }
        
        
                @media (max-width: 389px)  {
                    .inner-post-card{
                        width: 26rem;
                        /* background: green; */
                        margin-left: 6px;
                        margin-right: 6px;
                        }
                    
                    
                    }
        
        
                    
        @media (max-width: 345px) {
            .inner-post-card{
                width: 26rem;
                /* background: red; */
                margin-left: 0;
                margin-right: 0;
                }
            
            
            }
        
            @media (max-width: 320px) {
                .inner-post-card{
                    width: 26rem;
                    margin-left: 16px;
                    margin-right: 16px;
                    margin-top: -18.5rem
                    }
                
                
                }
        
        
                @media (max-width: 218px) {
                    .inner-post-card{
                        width: 26rem;
                        margin-left: 0px;
                        margin-right: 0px;
                        margin-top: -18.5rem
                        }
                    
                    
                    }
        
            @media (max-width: 356px) {
            .inner-body{
                /* margin-left:1rem; */
        
            }
        
            .post-text-container{
                /* margin-left:.5rem; */
            }
        }
        
        
        
        
        .modal-body p .input-field-section{
        /* background:red */
        }
        
        
        .image-section::-webkit-scrollbar{
            width: .4rem;
            /* background-color: red; */
            border-radius: 15px;
            cursor: pointer;
        }
        
        
        .image-section::-webkit-scrollbar-track{
            width: .5rem;
                    /* background-color: red; */
                    border-radius: 15px;
                    cursor: pointer;
            
        }
        
        
        .image-section::-webkit-scrollbar-thumb{
            width: .5rem;
            background-color: gray;
                    border-radius: 50px;
                    cursor: pointer;
           
        }


        
.post-textarea::-webkit-scrollbar{
    width: .4rem;
    /* background-color: red; */
    border-radius: 15px;
    cursor: pointer;
}


.post-textarea::-webkit-scrollbar-track{
    width: .5rem;
            /* background-color: red; */
            border-radius: 15px;
            cursor: pointer;
    
}

.post-textarea::-webkit-scrollbar-thumb{
    width: .5rem;
    background-color: gray;
            border-radius: 50px;
            cursor: pointer;
    /* z-index:1000; */
    /* background-color: blue; */
}


.transform.opacity-100.translate-y-0.w-auto.my-6.mx-auto.max-w-3xl.transition-all.duration-500{
    margin-top:21rem;
    
}

aside.emoji-picker-react{
    margin: -2px -16px;
    border: none;
    box-shadow: none
}

.container\`.md\:ml-\[20rem\].mt-\[3rem\].md\:mr-\[5rem\].mx-\[2rem\]{
    margin:2.5rem .5rem
}

@media (min-width: 767px) {
    .container\`.md\:ml-\[20rem\].mt-\[3rem\].md\:mr-\[5rem\].mx-\[2rem\]{
    margin-left: 17rem;
    margin-top: 1.7rem;
}
}

.flex.items-center.justify-end.gap-4{
    display:flex;
    justify-content:normal;
}

.btn-group.mt-2.flex.justify-center{
    width:100%;
}



@media (max-width:1023px){

    .w-full.bg-white.rounded-xl.overflow-hdden.shadow-md.p-4.post.mx-\[5\.8rem\].ml-\[8rem\].-mt-\[9rem\]{
margin-top: -17rem;
}

}

@media (max-width:767px){

    .w-full.bg-white.rounded-xl.overflow-hdden.shadow-md.p-4.post.mx-\[5\.8rem\].ml-\[8rem\].-mt-\[9rem\]{
margin-top: -25rem;
margin-left: 2rem;
margin-right: 1.5rem;
}

}

@media (max-width:522px){

    .w-full.bg-white.rounded-xl.overflow-hdden.shadow-md.p-4.post.mx-\[5\.8rem\].ml-\[8rem\].-mt-\[9rem\]{
margin-top: -25rem;
margin-left: .5rem;
margin-right: .5rem;
}

}

@media (max-width:271px){

    .w-full.bg-white.rounded-xl.overflow-hdden.shadow-md.p-4.post.mx-\[5\.8rem\].ml-\[8rem\].-mt-\[9rem\]{
margin-top: -25rem;
margin-left: 0rem;
margin-right: 0rem;
}

}

h1.undefined.text-xl.font-serif.font-bold.leading-normal.mt-0.mb-2{
cursor:pointer;
width:fit-content;
width:-moz-fit-content;
width:-webkit-fit-content;
font-size:1rem;

}

.read-more-button{
width:fit-content;
width:-moz-fit-content;
cursor:pointer;


}


@media (max-width:729px){
    .post-card.flex.justify-around.md\:pl-48.md\:mt-\[14rem\].relative.sm-\[25rem\].shadow-lg.bg-red-800.lg\:mt-\[11rem\].post{
    margin-top:26rem;
    
    }
    }
    
    
    .px-2\.5.py-1\.5.bg-black.bg-opacity-80.text-white.text-sm.rounded.flex.justify-center.md\:justify-between.px-\[5px\] 
    
    {
    background:white;
    
    
    }
    
    .tipy-content{
        border-radius: 32px;
        border: 1px solid red;
        padding: 0 54px;
        margin-left: 6rem;
        }
    
    
    @media (min-width:768px){
        .tippy-box.arrow-dark{
        margin-left:6rem;
        }
    }
    
    
    .px-2\.5.py-1\.5.bg-black.bg-opacity-80.text-white.text-sm.rounded.flex.justify-center.md\:justify-between.px-\[5px\] 
     {
    width:133%;
    }
    
    .tippy-content{
    margin-left:3rem;
    border-radius:50px;
    }
    
    @media (max-width:463px){
    .tippy-content{
    margin-left:2rem;
    }
    .px-2\.5.py-1\.5.bg-black.bg-opacity-80.text-white.text-sm.rounded.flex.justify-center.md\:justify-between.px-\[5px\] 
     {
    width:100%;
    }
    }
    
    
    @media (max-width:372px){
    .tippy-content{
    margin-left:2rem;
    }
    .px-2\.5.py-1\.5.bg-black.bg-opacity-80.text-white.text-sm.rounded.flex.justify-center.md\:justify-between.px-\[5px\] 
     {
    width:80%;
    }
    }
    
    /* .MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.MuiAvatarGroup-avatar.css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
    
    width:27px;
    height:27px;
    font-size:13px;
    } */
    
    
    @media (max-width:440px){
        .bg-profile-background.bg-cover.bg-center.absolute.top-0.w-full.h-full.flex.flex-shrink-0 {
        height:267px;
        
        }
    }
    

    @media (max-width:500px){
        .w-full.bg-white.rounded-xl.overflow-hdden.shadow-md.p-4.lg\:-mt-\[170px\].md\:-mt-\[280px\].-mt-\[300px\].md\:ml-\[8rem\].md\:mr-\[6rem\].md-w-\[71rem\].mx-\[2rem\].shadow-lg {
            margin-top: -22.2rem;
            /* margin-top: -35rem; */
        }
        }

    @media (max-width:441px){
        .w-full.bg-white.rounded-xl.overflow-hdden.shadow-md.p-4.lg\:-mt-\[170px\].md\:-mt-\[280px\].-mt-\[300px\].md\:ml-\[8rem\].md\:mr-\[6rem\].md-w-\[71rem\].mx-\[2rem\].shadow-lg{
            margin-top: -26rem;
        }
    }
    
    
    @media (max-width:400px){
    .w-full.bg-white.rounded-xl.overflow-hdden.shadow-md.p-4.lg\:-mt-\[170px\].md\:-mt-\[280px\].-mt-\[300px\].md\:ml-\[8rem\].md\:mr-\[6rem\].md-w-\[71rem\].mx-\[2rem\].shadow-lg {
        margin-top: -35rem;
    }
    }
    
    
    @media (max-width:320px){
        .w-full.bg-white.rounded-xl.overflow-hdden.shadow-md.p-4.lg\:-mt-\[170px\].md\:-mt-\[280px\].-mt-\[300px\].md\:ml-\[8rem\].md\:mr-\[6rem\].md-w-\[71rem\].mx-\[2rem\].shadow-lg {
            /* margin-top: -44rem; */
            margin-top: -35rem;
        }
        }


        
    
    
        @media (max-width:441px){
            .w-full.bg-white.rounded-xl.overflow-hdden.shadow-md.p-4.inner-post-card.lg\:-mt-\[170px\].md\:-mt-\[280px\].-mt-\[300px\].md\:ml-\[8rem\].md\:mr-\[6rem\].md-w-\[71rem\].mx-\[2rem\].shadow-lg.h-\[12rem\].pt-\[0rem\]{
                margin-top:-17rem;
                /* something wrong */
            }
        }

        @media (max-width:500px){
            .w-full.bg-white.rounded-xl.overflow-hdden.shadow-md.p-4.inner-post-card.lg\:-mt-\[170px\].md\:-mt-\[280px\].-mt-\[300px\].md\:ml-\[8rem\].md\:mr-\[6rem\].md-w-\[71rem\].mx-\[2rem\].shadow-lg.h-\[12rem\].pt-\[0rem\]{
                margin-top:-18rem;
                /* something wrong */
            }
        }
    
    
    
        @media (max-width:320px){
        .w-full.bg-white.rounded-xl.overflow-hdden.shadow-md.p-4.inner-post-card.lg\:-mt-\[170px\].md\:-mt-\[280px\].-mt-\[300px\].md\:ml-\[8rem\].md\:mr-\[6rem\].md-w-\[71rem\].mx-\[2rem\].shadow-lg.h-\[12rem\].pt-\[0rem\] {
            margin-top: -18rem;
        }
        }
    
    
    
    
        @media (max-width:408px){
            .w-full.bg-white.rounded-xl.overflow-hdden.shadow-md.p-4.inner-post-card.lg\:-mt-\[170px\].md\:-mt-\[280px\].-mt-\[300px\].md\:ml-\[8rem\].md\:mr-\[6rem\].md-w-\[71rem\].mx-\[2rem\].shadow-lg.h-\[12rem\].pt-\[0rem\] {
                margin-top: -18rem;
                margin-left: 0rem;
                margin-right: 0rem;
            }
            }
    
    
            @media (max-width:680px){
            .w-full.bg-white.rounded-xl.overflow-hdden.shadow-md.p-4.post.mx-\[5\.8rem\].ml-\[8rem\].-mt-\[9rem\]{
                margin-top:-31rem;
            }
        }

        

        .MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.MuiAvatarGroup-avatar.css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
    
            width:inherit;
            height:inherit;
            /* font-size:13px; */
            background:red;
            }
            .MuiAvatarGroup-root.css-ffdttd-MuiAvatarGroup-root{
                /* background:blue; */
            }

            .group-react.ml-\[5\.5rem\]{
                /* background:green; */
 
            }


            @media (min-width:768px) and(max-width:784p){
                button.false.flex.items-center.justify-center.gap-1.font-bold.outline-none.uppercase.tracking-wider.focus\:outline-none.focus\:shadow-none.transition-all.duration-300.rounded-full.w-10.h-10.p-0.grid.place-items-center.text-xs.leading-normal.text-white.bg-gray-500.hover\:bg-gray-700.focus\:bg-gray-400.active\:bg-gray-800.shadow-md-gray.hover\:shadow-lg-gray.border-none.absolute.right-\[37px\].-mt-\[2px\].sm\:mr-\[1\.8rem\].md\:mr-\[6rem\].h-\[2\.4rem\].ml-\[18px\].bg-inherit.hover\:bg-inherit.hover\:shadow-none.shadow-none{
                    margin-right: 0;
                    background:red;
                }
            }

            button.false.flex.items-center.justify-center.gap-1.font-bold.outline-none.uppercase.tracking-wider.focus\:outline-none.focus\:shadow-none.transition-all.duration-300.rounded-full.w-10.h-10.p-0.grid.place-items-center.text-xs.leading-normal.text-white.bg-gray-500.hover\:bg-gray-700.focus\:bg-gray-400.active\:bg-gray-800.shadow-md-gray.hover\:shadow-lg-gray.border-none.absolute.right-\[37px\].-mt-\[2px\].sm\:mr-\[1\.8rem\].h-\[2\.4rem\].ml-\[18px\].bg-inherit.hover\:bg-inherit.hover\:shadow-none.shadow-none.md\:-mr-\[2\.2rem\].mdx-editor\:mr-\[4\.5rem\].mdx-editor1\:mr-\[0\.5rem\].mdx-editor2\:mr-\[2rem\].flex.mds-editor2\:-mr-\[\.8rem\].mds-editor2\:flex.justify-end.mds-editor3\:-mr-\[2\.5rem\].mdx-editor5\:mr-\[5rem\].focus\:bg-none.focus\:border-0.hover\:bg-none.hover\:border-none.blur\:border-none.blur\:bg-none{
                background:none;
            }
           

            textarea.w-full.h-full.text-gray-800.leading-normal.shadow-none.outline-none.resize-none.focus\:outline-none.focus\:ring-0.focus\:text-gray-800.px-0.false.text-sm.mt-input-light-blue-500.mt-input.texterea.bg-transparent.border-none.undefined.undefined{
            text-indent:.5rem;
            }

            .max-w-max.flex.items-center.justify-between.py-1.px-3.rounded-full.undefined.last\:mr-0.mr-1.transition-all.duration-300.text-\[1\.5rem\]{
            margin-left:-12px;
            }
            span.text-xs.font-semibold.uppercase.undefined{
            font-size:21px;
            margin-bottom:5px;
            }
}